<!-- <form action="/pay" method="POST">
	<div class="form-group">
		<input style="font-size:22px;" type="number" placeholder="ملبغ را وارد کنید:" name="amount" value="<%= @person.not_payed_turns if @person.present? %>" >
		<% if @person.present?%>
		<input style="font-size:22px;" type="hidden" name="person_id" value="<%= @person.id%>" >
		<% end %>
	</div></br/>
	<button style="font-size:22px;" >پرداخت</button>
</form> -->
