<p style="direction: rtl; color: #283454; font-size: 18px;">
<%= @msg.gsub(/\\n/, '<br/>').html_safe %>
<p>
<!-- <div id="page" style="direction: rtl;">
  <header id="header">
    <div class="container">
      <span class="food-name">رمز عبور جدید</span>
    </div>
  </header>
  <section id="login" class="users">
    <div class="container">
      <form>
        <div class="form-group">
          <p>
            رمز عبور شما در سامانه منوچی تغییر داده شد.
          </p>
        </div>
        <div class="form-group">
          <p>
            رمز عبور جدید:
            <%= @pass %>
          </p>
        </div>
        <div class="form-group">
          <p>
            برای حفظ امنیت حساب کاربری خود بعد از ورود به حساب رمز عبور خود را تغییر دهید.
          </p>
        </div>
        <div class="form-group">
          <p>
            با تشکر - menochi.com
          </p>
        </div>
        <%= link_to "http://menochi.com/users/sign_in" do %>
        ورود
        <i class="fa fa-angle-left"></i>
        <% end %>
      </form>
    </div>
  </section>
</div> -->
