// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

//
@import "active_admin/mixins";
@import "active_admin/base";
@import "responsive_active_admin";
@import "wigu/active_admin_theme";

@import "calendar-blue";

@font-face{
  font-family: 'Iransans';
  src:url('IRANSans.woff');
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Iransans';
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Iransans';
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Iransans';
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Iransans';
}

body {
  font-family: 'Iransans','Source Sans Pro', sans-serif !important;
}
a {
  font-family: 'Iransans','Source Sans Pro', sans-serif !important;
}
input {
  font-family: 'Iransans','Source Sans Pro', sans-serif !important;
}

.rtl{
  direction: rtl!important;
  text-align: center;
}
.table_tools_segmented_control li {
  direction: rtl !important;
}
.hidden{
  display: none;
}
#wrapper #header ul.tabs > li > a {
  font-size: 20px;
}

#tabs{
  text-align: center;
}
#page_title{
  display: none;
}

#titlebar_right{
  text-align: center !important;
}
.box{
  display: -webkit-box;
}

.required label{
  color: #9d2900 !important;
  font-style: italic;
}
